@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="center ad">
    <h1 class="siteName">Welcome</h1>
    <img src="images/dominik-scythe-v8vz-Roj8zo-unsplash.jpg" alt="wood working table with tools">
    <p>Learn about CSE 325 <a href="https://www.byui.edu/catalog/#/courses/V1V6rBcAb">developing software with ASP.NET</a>.</p>
</div>
