@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="center ad">
<h1>@ViewData["Title"]</h1>

    <p>We collect several different types of information for various purposes to improve our Service to you.</p>
    <p>We will retain your Personal Information for as long as necessary to fulfill the purposes outlined in this Privacy Policy. We will also retain and use data to the extent necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.</p>
</div>