@page
@model MegaDesk3._0.Pages.Desks.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Desk</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Desk.Id" />
            <div class="form-group">
                <label asp-for="Desk.Name" class="control-label"></label>
                <input asp-for="Desk.Name" class="form-control" />
                <span asp-validation-for="Desk.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Date" class="control-label"></label>
                <input asp-for="Desk.Date" class="form-control" />
                <span asp-validation-for="Desk.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Width" class="control-label"></label>
                <input asp-for="Desk.Width" class="form-control" />
                <span asp-validation-for="Desk.Width" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Height" class="control-label"></label>
                <input asp-for="Desk.Height" class="form-control" />
                <span asp-validation-for="Desk.Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Drawers" class="control-label"></label>
                <input asp-for="Desk.Drawers" class="form-control" />
                <span asp-validation-for="Desk.Drawers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Material" class="control-label"></label>
                <input asp-for="Desk.Material" class="form-control" />
                <span asp-validation-for="Desk.Material" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Rush" class="control-label"></label>
                <input asp-for="Desk.Rush" class="form-control" />
                <span asp-validation-for="Desk.Rush" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desk.Price" class="control-label"></label>
                <input asp-for="Desk.Price" class="form-control" />
                <span asp-validation-for="Desk.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
